@charset "UTF-8";

@import url(./reset.css);
@import url(./font.css);

:root {
  /* 본문용 기본 폰트 */
  --font-body: 'Pretendard', 'Noto Sans KR', 'Apple SD Gothic Neo', 'Malgun Gothic',-apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI','Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;

  /* 제목용 */
  --font-title: 'Gowun Batang', 'JSongMyung', serif;

  /* 포인트용 (영문, 로고 등) */
  --font-point: 'Fugaz One', 'Cafe24', sans-serif;

  /* 손글씨 스타일 */
  --font-hand: 'Caveat', cursive;

  --font-color: #ffffff;
  --bg-color: #2e2e2e;
  --main-color: #20b085;
}

html{
  --font-color: #ffffff;
  scroll-behavior: smooth; 
  
}

body{
  color: var(--font-color);
  background-color: var(--bg-color);
  font-family: Pretendard;
}
body.light{
  --font-color: #2e2e2e;
  --bg-color: #cecece;
}
section > article{
  width: 100%; height: 100vh;
  padding: 200px 0 100px;
  box-sizing: border-box;
  position: relative;
}

.page h2 { position: relative; margin-bottom: 100px; font-size: 60px; text-transform: capitalize; text-align: center; font-weight: bold; } 
.dot:after{ content: ""; position: absolute; bottom: 5px; width: 10px; height: 10px; border-radius: 50%; background: var(--main-color);}
.en{ font-family: var(--font-hand);}