@charset "UTF-8";

@import url(./reset.css);
@import url(./font.css);

:root {
  /* 본문용 기본 폰트 */
  --font-body: 'Pretendard', 'Noto Sans KR', 'Apple SD Gothic Neo', 'Malgun Gothic',-apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI','Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;

  /* 제목용 */
  --font-title: 'Gowun Batang', 'JSongMyung', serif;

  /* 포인트용 (영문, 로고 등) */
  --font-point: 'Cafe24', 'Fugaz One', sans-serif;

  /* 손글씨 스타일 */
  --font-hand: 'Caveat', cursive;

  --font-color: #ffffff;
  --bg-color: #2e2e2e;
  --main-color: #20b085;
}

html{
  --font-color: #ffffff;
  scroll-behavior: smooth; 
  
}

body{
  color: var(--font-color);
  background-color: var(--bg-color);
  font-family: Pretendard;
}
body.light{
  --font-color: #2e2e2e;
  --bg-color: #cecece;
}
section > article{
  width: 100%; height: 100vh;
  padding: 200px 0 100px;
  box-sizing: border-box;
  position: relative;
}

button{ 
  cursor: pointer; 
}

.en{ color:var(--main-color); font-family: var(--font-hand); }
.page .blind { position: absolute; width: 1px; height: 1px; clip: rect(0 0 0 0); overflow: hidden; margin: 0; padding: 0;} 
.page h2 { position: relative; font-size: 60px; text-transform: capitalize; text-align: center; font-weight: bold; } 
.page h2:not(.blind){ margin-bottom: 100px; } 
.dot:after{ content: ""; display: inline-block; width: 8px; height: 8px; margin-left: 5px; border-radius: 50%; background: var(--main-color);}

@keyframes updown { 
  0% { transform:translateY(0px) } 
  100% { transform:translateY(-10px) } 
  }
@keyframes updown2 { 
  0% { transform:translate(-50%, 0px) } 
  100% { transform:translate(-50%, -10px) } 
  }
