@charset "UTF-8";

/* 상단 네비게이션 */
header { position: fixed; top: 0; left: 0; display: flex; justify-content: space-between; align-items: center; width: 100%; padding: 20px; background: var(--bg-color); box-sizing: border-box; color: var(--font-color); z-index: 10; } 

/* 로고 */
header .logo { display: inline-block; width: 100px; height: 50px; background: url(../img/01_home/logo_01.svg) 0 0 / 100% 100% no-repeat; } 

/* 상단 네비게이션 리스트 */
.gnb .gnb_list { display: flex; align-items: center; font-weight: bold; font-size: 20px; } 
.gnb_list li { padding: 10px; } 
.gnb_list li a { position: relative; } 

/* 메뉴 하단 이펙트*/
.gnb_list li a::before, 
.gnb_list li a::after { content: ""; position: absolute; bottom: -5px; display: inline-block; height: 3px; } 
.gnb_list li a::before { width: 100%; background: var(--font-color); opacity: 0; } 
.gnb_list li a::after { width: 0; left: auto; right: 0; background: var(--main-color); transition: all 0.7s ease 0s; } 
.gnb_list li:hover a::before { opacity: 1; } 
.gnb_list li:hover a::after { width: 100%; left: 0; right: auto; } 

/* 햄버거 클릭시 메뉴 */
.gnb.on { position: fixed; top: 0; left: 0; display: flex; justify-content: center; width: 100%; height: 100%; background: #2e2e2e; } 
.gnb.on .gnb_list { flex-flow: column; justify-content: center; } 
.gnb.on .gnb_list li { padding: 40px; font-size: 30px; } 

/* 햄버거 버튼 */
.mobile_btn_box { position: relative; width: 40px; height: 40px; } 
.mobile_btn_box button { position: absolute; display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; background: none; border: none; font-size: 40px; color: var(--font-color); cursor: pointer; } 
.mobile_btn_box button.off { display: none; } 
.mobile_btn_box button:hover { color: var(--main-color); transition: .6s color ease 0s; } 

/* home_section */
.home_section .home_txt_box { position: relative; display: flex; flex-flow: column; justify-content: space-between; padding-left: 150px; } 
.home_txt_box .home_txt.top { position: relative; width: 720px; font-size: 100px; line-height: 100px; font-weight: bold; text-transform: uppercase; } 
.home_txt_box .home_txt.top::after { bottom: 13px; right: 170px; width: 13px; height: 13px;} 
.home_txt_box .home_txt.bottom { display: inline-flex; align-self: flex-end; width: 100%; max-width: 500px; padding-bottom: 5px; border-bottom: 1px solid var(--main-color); text-align: right; font-size: 20px; line-height: 20px; letter-spacing: 2px; text-transform: capitalize; } 
.home_txt.bottom .role_txt { padding-right: 80px; font-size: 23px; margin-left: 30px; color: var(--main-color); font-weight: 600; } 

/* about_section */
.quote { position: absolute; width: 510px; display: flex; flex-flow: column; right: 0; top: 150px; } 
.quote .en { font-family: Caveat; font-size: 60px; } 
.quote .ko { margin-top: 10px; margin-left: 20px; font-size: 15px; line-height: 30px; font-family: Pretendard; } 
